@import "reset.css";
@import "variables.css";

/* animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes fadeOutUp {
  0% {
  }

  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
  }

  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes guideFadeIn {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes guideFadeIn {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* root */
body {
  background-color: #3f4567;
  color: #c4ab62;
  font-family: "Nanum Myeongjo", serif;
  overflow: hidden;
}

body::-webkit-scrollbar,
.content__container::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb,
.content__container::-webkit-scrollbar-thumb {
  background-color: var(--dim-white);
  border-radius: 0.25rem;
}

.showing {
  display: flex !important;
  animation: fadeIn 0.5s linear forwards;
}

.hiding {
  display: flex !important;
  animation: fadeOut 0.5s linear forwards;
}

.showing__content {
  display: flex !important;
  flex-direction: column;
  animation: fadeInDown 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.hiding__content {
  display: flex !important;
  flex-direction: column;
  animation: fadeOutUp 1s ease-in-out forwards;
}

.showing__nav {
  display: flex !important;
  animation: fadeInUp 1s ease-in-out forwards;
}

.hiding__nav {
  display: flex !important;
  animation: fadeOutDown 1.5s linear forwards;
}

.none {
  display: none;
}

/* flex */

.main__container,
.main__column,
.main__row,
.content-box,
.nav__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  width: 100%;
  background-color: #3f4567;
  z-index: 1;
}

/* flex-column */

.main__column,
.content__container {
  flex-direction: column;
  align-items: center;
}

.main__column {
  width: 90%;
}

.main__content {
  display: none;
  width: 100%;
  overflow: auto;
  padding: 1rem;
  margin-top: 2rem;
  z-index: 0;
}

.main__content::-webkit-scrollbar {
  width: 1rem;
}

.main__content::-webkit-scrollbar-thumb {
  background-color: var(--dim-white);
  border-radius: 1rem;
}

.content__container {
  display: none;
  position: relative;
  background-color: var(--dim-white);
  border: 1px solid var(--white);
  border-radius: 10px;
  height: fit-content;
  max-height: 100vh;
  overflow: auto;
  color: white;
  line-height: 1.5rem;
  padding: 2rem 3rem;
  margin-bottom: 1rem;
  transition: all 1s ease-in-out;
}

/* content */

.header__title {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  padding: 50px;
}

.header__title:hover {
  cursor: pointer;
}

.header__guide {
  margin-top: 50px;
  font-size: 1.2rem;
  animation: guideFadeIn 1.5s ease-in-out;
}

.header__guide:hover {
  cursor: pointer;
}

.header__question__container {
  display: none;
  min-width: 50%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.header__question {
  justify-content: center;
  align-items: center;

  border: none;
  width: 100%;
  padding: 0.6rem;
  padding-top: 1.7rem;
  margin-top: 3rem;
  margin-bottom: 5rem;

  font-size: 1rem;
  font-family: "Nanum Myeongjo", serif;
  font-style: italic;

  background-color: transparent;
  color: var(--gold);
  caret-color: transparent;

  /* border: 1px solid transparent;
  border-radius: 10px; */
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.header__question:focus {
  /* border: 1px solid var(--dim-gold);
  border-radius: 10px;
  transition: border 0.5s ease-in-out; */
}

.header__question::placeholder {
  text-align: center;
  vertical-align: center;
  font-family: "Nanum Myeongjo", serif;
  color: var(--gold);
  font-size: 1rem;
  font-style: italic;
}

.header__question::-webkit-scrollbar {
  display: none;
}

.nav__container {
  display: none;
  width: 100%;
  justify-content: flex-end;
  transform: translateX(7px);
}

.nav-box {
  font-size: 0.9rem;
  padding: 1rem 1.3rem;
  background-color: var(--dim-white);
  transform: skewX(-10deg);
  border: 1px solid var(--white);
  color: white;
}

.nav-box:hover {
  cursor: pointer;
}

.nav-box:active {
  transform: scale(0.98) skewX(-10deg);
}

.content__line {
  display: none;
  margin-top: 0;
  width: 100%;
  color: var(--dim-white);
}

.zoom-in {
  display: flex !important;
  animation: zoomIn 0.5s linear;
}

.zoom-out {
  display: flex !important;
  animation: zoomOut 1s linear forwards;
  animation-delay: 1s;
}

.content__title {
  width: 100%;
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.content__title:hover {
  cursor: pointer;
}

.content__body {
  padding: 2rem;
  font-size: 1rem;
  line-height: 170%;
  font-weight: 400;
  word-break: keep-all;
}

.content__body p {
  margin-bottom: 0.5rem;
  padding: 0 0.3rem 1rem 0.3rem;
}

/* .content__body p:first-child {
  text-indent: 0.5rem;
} */

.text-indent-box {
  text-indent: 0.3rem;
}

.explain__container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.explain__container p {
  padding-top: 1rem;
}

.explain__container hr {
  display: inline-block;
  width: 100%;
}

.content__body .explain__title {
  text-align: center;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.index__title {
  margin: 0.5rem 0;
  font-weight: 700;
}

.right {
  text-align: right !important;
}

.index__body {
  font-weight: 400;
}

.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__body .content__img {
  max-width: 50%;
  max-height: auto;
  margin: 1rem 0;
}

.link {
  margin-right: 5px;
  font-style: italic;
}

.button__container {
  position: relative;
  margin-left: auto;
  margin-top: 1rem;
  width: fit-content;
  bottom: 0;
  right: 0;
}

.button__container button:active {
  transform: scale(0.98);
}

.button__scroll {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  color: var(--white);
  border: none;
  font-size: 1.2rem;
}

.button__scroll:hover {
  cursor: pointer;
}

.button__scroll > i {
  pointer-events: none;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0 1rem 0;
  font-size: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--white);
}

footer hr {
  width: 100%;
  border: 0.1px solid var(--white);
}

.footer-box {
  margin: 2rem 0 2rem 0;
}

.footer-box p {
  margin-bottom: 0.5rem;
}

/* mobile */

@media screen and (max-width: 676px) {
  html {
    font-size: 14px;
  }

  .header__title {
    font-size: 2.3rem;
  }

  .content__body .content__img {
    max-width: 100%;
  }

  .button__scroll {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }

  .header__box {
    padding: 0;
  }

  .header__title {
    font-size: 2rem;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .button__scroll {
    font-size: 1rem;
  }

  .header__question__container {
    width: 100%;
  }

  .header__question {
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 0;
  }

  .header__question::placeholder {
    font-size: 1rem;
  }

  .main__content {
    margin-top: 0;
  }

  .content__container {
    display: none;
    padding: 2rem 2rem;
    margin-bottom: 1rem;
    min-height: 80%;
  }

  .content__title {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 20px;
  }

  .content__body {
    font-size: 0.9rem;
    word-break: keep-all;
    letter-spacing: 0.15rem;
    line-height: 1.5rem;
    padding: 0;
  }

  .content__body br {
    display: none;
  }

  .content__body .explain__title {
    font-size: 1rem;
  }

  .explain__container p br {
    display: inline;
  }

  .nav__container {
    transform: translateX(4px);
  }

  .nav-box {
    font-size: 0.7rem;
    padding: 0.7rem 0.9rem;
  }

  .zoom-out {
    animation-delay: 0;
  }
}
